
<header>

    <% if(locals.user) { %>

        <div id="homeLogo">
            <a href='/'>
                Codeial
            </a>
        </div>

        <div id="actionIcons">
            
                <a href='/users/profile'>
                    <%= user.name%>
                </a>
            
            
                <a href='/users/sign-out'>
                    Sign Out
                </a>
            
        </div>

        <% }else{ %> 

            <div id="homeLogo">
                <a href='/'>
                    Codeial
                </a>
            </div>
            
            <div id="actionIcons">
                
                    <a href='/users/sign-in'>
                        Sign In
                    </a>
                    <span></span>
                
                    <a href='/users/sign-up'>
                        Sign Up
                    </a>
                
            </div>


        <%} %>
        
        

</header>