 <!--<header>
        <div id="homeLogo">
            <a href='/'>
                Codeial
            </a>
        </div>
        <div id="actionIcons">
            <button>
                <a href='/users/sign-in'>
                    Sign In
                </a>
            </button>
            <button>
                <a href='/users/sign-out'>
                    Sign Out
                </a>
            </button>
        </div>
</header>

<ul>
    
    <% if(locals.user) { %>
        <li>
            <a href="users/profile">
                <%= user.name%>
            </a>
        </li>
        
                
    <% }else{ %> 
        <li>
        <a href="/users/sign-in">SignIn</a>
        </li>

        <li>
            <a href="/users/sign-up">SignIn</a>
        </li>
    <%} %>


</ul>
-->

<header>

    <% if(locals.user) { %>

        <div id="homeLogo">
            <a href='/'>
                Codeial
            </a>
        </div>

        <div id="actionIcons">
            
                <a href='/users/profile'>
                    <%= user.name%>
                </a>
            
            
                <a href='/users/sign-out'>
                    Sign Out
                </a>
            
        </div>

        <% }else{ %> 

            <div id="homeLogo">
                <a href='/'>
                    Codeial
                </a>
            </div>
            
            <div id="actionIcons">
                
                    <a href='/users/sign-in'>
                        Sign In
                    </a>
                
                    <a href='/users/sign-out'>
                        Sign Out
                    </a>
                
            </div>


        <%} %>
        
        

</header>