header{
    height: 2rem;
    background-color:rgb(74, 74, 228);
    display: flex;
    justify-content: space-around;
    align-items: center;

}

#homeLogo{
    color: whitesmoke;
    font-size: large;
    position: relative;
    left: -20%;
    a {
        text-decoration: none;
        color: whitesmoke;
    }
}

#actionIcons{
    position: relative;
    right: -20%;
    background-color:transparent;

    button{
        background-color: cadetblue;
        border-top-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }
    a {
        text-decoration: none;
        color: whitesmoke;
    }

}