body{
    margin : 0;
    background-color: lightblue;
   
}

#container{
    margin:  3rem;
    border: 2px solid black;
    height:25vh;
    background-image: linear-gradient(rgba(105, 180, 155, 0.356), red);
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    font-family: sans-serif;
    font-size: 3rem;
}
